<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel="shortcut icon" href="/img/weather.jpg" type="image/x-icon">
		<link rel='stylesheet' href='/css/style.css' />
		<title>{{title}}</title>
	</head>
	<body>
		{{> header}}
		<main>
			<div class="about">
				<p>This site was created by {{name}}.</p>
				<p>It uses MapBox API & WeatherStack API.</p>
			</div>
			<img class="portrait" src='./img/costa-brava.jpg' alt='Profile Picture' />
		</main>
		{{> footer}}
	</body>
</html>