<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<link rel="shortcut icon" href="/img/weather.jpg" type="image/x-icon">
		<link rel='stylesheet' href='/css/style.css' />
		<script src='/js/main.js' defer></script>
		<title>{{title}}</title>
	</head>
	<body>
		{{> header}}
		<main>
			<p>Use this site to get your weather!</p>
			<form id="weather-form">
				<input id="weather-input" type="text" placeholder="Location">
				<button>Search</button>
			</form>
			<p id="weather-msg" class="weather-msg"></p>
			<div id="weather-card" class="weather-card">
				<div class="weather-elements">
					<img id="weather-icon" class="weather-icon" alt="Weather Icon">
					<p id="weather-temp" class="weather-temp"></p>
				</div>
				<div class="weather-location">
					<p id="weather-forecast" class="weather-forecast"></p>
					<p id="weather-city" class="weather-city"></p>
				</div>
			</div>
		</main>
		{{> footer}}
	</body>
</html>