/*! RESETS */
* {
	margin: 0;
	padding: 0;
}

:root {
	--border-radius: 2px;
}

body {
	color: #333;
	font-family: Arial, sans-serif;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 20px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*! HEADER */
header {
	margin-top: 20px;
	margin-bottom: 40px;
}

header h1 {
	font-size: 60px;
	margin-bottom: 20px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li + li {
	margin-left: 20px;
}

nav a {
	color: #888;
	text-decoration: none;
}

/*! MAIN */
main {
	flex-grow: 1;
}

main img.portrait {
	width: 250px;
}

main p.msg {
	margin-bottom: 20px;
	display: none;
}

/*! FORM */
form input,
form button {
	border-radius: var(--border-radius);
}

form input {
	margin: 20px 0;
	border: 1px solid #ccc;
	padding: 10px;
	width: calc(100% - 105px);
}

form button {
	cursor: pointer;
	padding: 10px;
	border: 1px solid #888;
	background-color: #888;
	color: #fff;
	width: 100px;
}

/*! WEATHER CARD */
.weather-msg,
.weather-card {
	display: none;
}

.weather-msg {
	margin-bottom: 10px;
}
.weather-card,
.weather-icon {
	border-radius: var(--border-radius);
}

.weather-card {
	background-color: #c5def3;
	padding: 10px;
}

.weather-card > .weather-elements {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.weather-temp {
	font-size: 24px;
}

.weather-temp,
.weather-forecast {
	font-weight: bold;
}

.weather-location {
	line-height: 1.5;
}

.weather-forecast {
	margin: 20px 0 10px 0;
}

.weather-city {
	font-style: italic;
}

/*! FOOTER */
footer {
	color: #888;
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding: 20px 0;
}
